  body {
    background: #ccdb00;
    background: -webkit-linear-gradient(to right, #b8be03, #9ddb00);
    background: linear-gradient(to right, #b09b00, #db9200);
    color: #514B64;
    min-height: 100vh;
  }
  .rounded-lg {
    border-radius: 1rem !important;
  }
   
  .text-small {
    font-size: 0.9rem !important;
  }
   
  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
  }
   
  .text-uppercase {
    letter-spacing: 0.2em;
  }
